<mat-card class="example-card">
    <mat-card-content class="title">Buy Book</mat-card-content>


<form class="example-form">
<mat-form-field  class="example-full-width" appearance="outline" >
    <mat-label>Student ID</mat-label>
    <input matInput name="sid" [(ngModel)]="book.sid">
</mat-form-field>
<mat-form-field class="example-full-width" appearance="outline" >
    <mat-label>Student Name</mat-label>
    <input matInput name="sname" [(ngModel)]="book.sname">
</mat-form-field>
<mat-form-field appearance="outline" class="example-full-width">
    <mat-label>From date</mat-label>
    <input matInput name="fromdate" [(ngModel)]="book.fromdate" [matDatepicker]="picker" >
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<mat-form-field appearance="outline" class="example-full-width">
    <mat-label>To date</mat-label>
    <input matInput name="todate" [(ngModel)]="book.todate" [matDatepicker]="picker1" >
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>
<mat-form-field class="example-full-width" appearance="outline" >
    <mat-label>Book Name</mat-label>
    <input matInput name="bname" [(ngModel)]="book.bname">
</mat-form-field>
<mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Select</mat-label>
    <mat-select name="genre" [(ngModel)]="book.genre">
      <mat-option value="Fantasy">Fantasy</mat-option>
      <mat-option value="Sci-Fi">Sci-Fi</mat-option>
      <mat-option value="Mystery">Mystery</mat-option>
      <mat-option value="Romance">Romance</mat-option>
      <mat-option value="Thriller">Thriller</mat-option>
      <mat-option value="Westerns">Westerns</mat-option>
      <mat-option value="Biography">Biography</mat-option>
      <mat-option value="Drama">Drama</mat-option>
      <mat-option value="Adventures">Adventures</mat-option>
    </mat-select>
  </mat-form-field>
  
</form> 

<div class="btn"> 
    
    <button mat-raised-button color="primary" (click)="apply()"><mat-icon>add_shopping_cart</mat-icon>Buy</button>&nbsp;&nbsp;
    <button routerLink="/viewbook" mat-raised-button color="accent"> <mat-icon>check_circle</mat-icon>View</button>
</div>

</mat-card>