<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Library management system</span>
      <button routerLink="/" style="margin-left:70%" mat-raised-button color="warn">Buy Book</button>
    </mat-toolbar-row>
  </mat-toolbar>

<!--table-->
<div style="margin-top: 15px;"> 
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <ng-container matColumnDef="Student-id">
      <th mat-header-cell *matHeaderCellDef> Student id </th>
      <td mat-cell *matCellDef="let element"> {{element.sid}} </td>
    </ng-container>

    <ng-container matColumnDef="Student Name">
        <th mat-header-cell *matHeaderCellDef>Student Name</th>
        <td mat-cell *matCellDef="let element"> {{element.sname}} </td>
      </ng-container>
  
  
    <ng-container matColumnDef="Fromdate">
      <th mat-header-cell *matHeaderCellDef>Fromdate</th>
      <td mat-cell *matCellDef="let element"> {{element.fromdate|date}}</td>
    </ng-container>
  
    <ng-container matColumnDef="Todate">
      <th mat-header-cell *matHeaderCellDef> Todate </th>
      <td mat-cell *matCellDef="let element"> {{element.todate|date}} </td>
    </ng-container>
  
 
    <ng-container matColumnDef="Book Name">
      <th mat-header-cell *matHeaderCellDef> Book Name </th>
      <td mat-cell *matCellDef="let element"> {{element.bname}} </td>
    </ng-container>
     
    <ng-container matColumnDef="Genre">
        <th mat-header-cell *matHeaderCellDef> Genre </th>
        <td mat-cell *matCellDef="let element"> {{element.genre}} </td>
      </ng-container>
  

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-icon-button color="primary">
           <mat-icon routerLink="/updatebook/{{element.id}}">edit</mat-icon>
          </button>
    
          <button mat-icon-button color="warn">
            <mat-icon (click)="delete(element.id)">delete</mat-icon>
           </button>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>